In [1]:
# 1
string="Supriya Reddy"
result=string[::-1]
print(result)

yddeR ayirpuS

In [8]:
#2
string=input("enter a string:")
reversed_string=string[::-1]
if string==reversed_string:
    print("it is a palindrome")
else:
    print("it is not a palindrome")

enter a string:madam
it is a palindrome

In [9]:
#2
string=input("enter a string:")
reversed_string=string[::-1]
if string==reversed_string:
    print("it is a palindrome")
else:
    print("it is not a palindrome")

enter a string:yesterday
it is not a palindrome

In [10]:
#3
#convert a string to upper case
string="supriya yarrannagari"
result=string.upper()
print(result)

SUPRIYA YARRANNAGARI

In [11]:
#4
#convert a string to lower case
string="SUPRIYA YARRANNAGARI"
result=string.lower()
print(result)

supriya yarrannagari

In [2]:
#5
x=input("enter a string:")
x=x.lower()
count_a=count_e=count_i=count_o=count_u=0
for char in x:
    if char=='a':
        count_a+=1
    elif char=='e':
        count_e+=1
    elif char=='i':
        count_i+=1
    elif char=='o':
        count_o+=1
    elif char=='u':
        count_u+=1
total_vowels=count_a+count_e+count_i+count_o+count_u
print(total_vowels)

enter a string:Don't waste the time, time is very important in life and life is very small to live so don't regret and finally don't destroy environment ,save the nature.
45

In [5]:
#6
def count_consonants(s):
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    count = 0
    for char in s:
        if char in consonants:
            count += 1
    return count
input_string=input("enter a string:")
consonant_count=count_consonants(input_string)
print(consonant_count)

enter a string:Don't waste the time, time is very important in life and life is very small to live so don't regret and finally don't destroy environment ,save the nature.
77

In [16]:
#7
string=input("enter a string:")
stripped_string=string.replace(' ', '')
print(stripped_string)

enter a string:supriya yarrannagari
supriyayarrannagari

In [21]:
#8
def string_length(s):
    count=0
    for char in s:
        count+=1
    return count
input_string=input("enter a string:")
length=string_length(input_string)
print(length)

enter a string:hello world!
12

In [29]:
#9
def contains_word(text,word):
    return word in text
input_string="hello,This is a sample example"
search_string="sample"
if contains_word(input_string,search_string):
    print("yes, it's contained")
else:
    print("no,it's not contained")

yes, it's contained

In [28]:
#10
string="Hello, world"
print(string)
replaced_string=string.replace("world","Alice")
print(replaced_string)

Hello, world
Hello, Alice

In [32]:
#11
def count_occurrences_word(text,word):
    return text.count(word)
input_string="hello,This is a sample example.It is a sample sample sample."
search_string="sample"
occurrences=count_occurrences_word(input_string,search_string)
print(f"The word {search_string} appears in {occurrences} times in the string")

The word sample appears in 4 times in the string

In [39]:
#12
def find_first_occurrences(text,word):
    return text.find(word)
input_string="hello,This is a sample example.It is a sample sample sample."
search_string="sample"
index=find_first_occurrences(input_string,search_string)
if index != -1:
    print(f"the first {search_string} at first appears of index {index}.")
else:
    print(f"the first {search_string} is not appearsin the string")

the first sample at first appears of index 16.

In [42]:
#13
def find_last_occurrences(text,word):
    return text.rfind(word)
input_string="hello,This is a sample example.It is a sample sample sample."
search_string="sample"
index=find_last_occurrences(input_string,search_string)
if index != -1:
    print(f"the first {search_string} at last appears of index {index}.")
else:
    print(f"the first {search_string} is not appearsin the string")

the first sample at last appears of index 53.

In [45]:
#14
string="hello world!, This is a Sample example."
result=string.split()
print(result)

['hello', 'world!,', 'This', 'is', 'a', 'Sample', 'example.']

In [50]:
#15
string="hello, world!"
word=' '.join([string,"very nice to see you"])
print(word)

hello, world! very nice to see you

In [2]:
#16
original_string="where words are separetaed by spaces one where separeated br under score."
underscore_string=original_string.replace(" ","_")
print(underscore_string)

where_words_are_separetaed_by_spaces_one_where_separeated_br_under_score.

In [3]:
#17
text="Hello,how are you doing today."
if text.startswith("Hello"):
    print("the text is startswith 'hello'")
else:
    print("the text does not startswith 'Hello'")

the text is startswith 'hello'

In [5]:
#18
text="Hello,how are you doing today."
if text.endswith("today."):
    print("the text is endswith 'today.'")
else:
    print("the text does not endswith 'today.'")

the text is endswith 'today.'

In [6]:
#19
string="hello, world!"
capitalized_string=string.capitalize()
print(capitalized_string)

Hello, world!

In [10]:
#20
def longest_word_in_string(input_string):
    words = input_string.split()  # Split the string into words
    longest_word = ""

    for word in words:
        if len(word) > len(longest_word):
            longest_word = word

    return longest_word

string = "hello, Good morning to everyone."
longest_word = longest_word_in_string(string)
print("The longest word:", longest_word)

The longest word: everyone.

In [11]:
#21
def smallest_word_in_string(input_string):
    words = input_string.split()  # Split the string into words
    smallest_word = ""

    for word in words:
        if len(word) < len(longest_word):
            smallest_word = word

    return smallest_word

string = "hello, Good morning to everyone."
smallest_word = smallest_word_in_string(string)
print("The smallest word:", smallest_word)

The smallest word: to

In [22]:
#22
def reverse_words(input_string):
    words=input_string.split()
    reversed_words=words[::-1]
    reversed_string= ' '.join(reversed_words)
    return reversed_string
string="hello,good morning to everyone"
reversed_string=reverse_words(string)
print(reversed_string)

everyone to morning hello,good

In [25]:
#23
string="Hello,World!123"
alphanumeric_string=string.isalpha()
print(alphanumeric_string)

False

In [27]:
#24
string = "Hello123World456"
digits = [char for char in string if char.isdigit()]
result = ''.join(digits)
print(result)

123456

In [28]:
#25
string = "Hello123World456"
digits = [char for char in string if char.isalpha()]
result = ''.join(digits)
print(result)

HelloWorld

In [5]:
#26
def count_uppercase_letters(input_string):
    count = 0
    for char in input_string:
        if char.isupper():
            count += 1
    return count
input_string = "Hello Supriya Yarrannagari"
uppercase_count = count_uppercase_letters(input_string)
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 3

In [6]:
input_string = "Hello Supriya Yarrannagari"
uppercase_count = count_uppercase_letters(input_string)
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 3

In [7]:
#27
def count_lowercase_letters(input_string):
    count = 0
    for char in input_string:
        if char.islower():
            count += 1
    return count
input_string = "Hello Supriya Yarrannagari"
lowercase_count = count_lowercase_letters(input_string)
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 21

In [8]:
input_string = "Hello Supriya Yarrannagari"
lowercase_count = count_lowercase_letters(input_string)
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 21

In [17]:
#28
input_string="Hello World!"
swapped_string=input_string.swapcase()
print(swapped_string)

hELLO wORLD!

In [16]:
#29
string="Supriya Reddy Yarrannagari"
remove_string="Reddy"
new_string=string.replace(remove_string, "")
print(new_string)

Supriya  Yarrannagari

In [29]:
#30
email="supriyareddy155@gmail.com"
if email:
    print("valid email address")
else:
    print("is not valid email address")

valid email address

In [34]:
#31
def extract_username(email):
    parts=email.split("@")
    if len(parts)==2:
        return parts[0]
    else:
        return None
email="supriyareddy155@gmail.com"
username=extract_username(email)
if username:
    print("username:",username)
else:
    print("invalid_email_address")

username: supriyareddy155

In [45]:
#32
def extract_domainname(email):
    parts=email.split("@")
    if len(parts)==2:
        return parts[1]
    else:
        return None
email="supriyareddy155@gmail.com"
domainname=extract_domainname(email)
if domainname:
    print("domainname:",domainname)
else:
    print("invalid_email_address")

domainname: gmail.com

In [55]:
#33
def replace_multiple_spaces_with_single_space(input_string):
    return re.sub(r"\s+"," ",input_string)
import re
new_string=replace_multiple_spaces_with_single_space(original_string)
print(new_string)

this string has multiple spaces with a single space

In [57]:
#34
url = "https://www.Yarrannagari.com"
if url:
    print("Valid URL")
else:
    print("Invalid URL")

Valid URL

In [60]:
#35
import urllib.parse
def extract_protocol(url):
    parsed_url = urllib.parse.urlparse(url)
    return parsed_url.scheme
url = "https://www.google.com"
protocol = extract_protocol(url)
print("Protocol:", protocol)

Protocol: https

In [77]:
#36
def frequency_character(input_string):
    dict_count = {}
    for char in input_string:
        if char in dict_count:
            dict_count[char] += 1
        else:
            dict_count[char] = 1
    return dict_count

input_string = "Hello Yarrannagari"
freq_dict = frequency_character(input_string)
for char, count in freq_dict.items():
    print(f"'{char}': {count}")

'H': 1
'e': 1
'l': 2
'o': 1
' ': 1
'Y': 1
'a': 4
'r': 3
'n': 2
'g': 1
'i': 1

In [1]:
#37
import string
def remove_punctuation(input_string):
    translator = str.maketrans('', '', string.punctuation)
    cleaned_string = input_string.translate(translator)
    return cleaned_string

input_string = "Hello, wrld! this is an example."
new_string = remove_punctuation(input_string)
print(new_string)

Hello wrld this is an example

In [4]:
#38
def contain_only_digits(string):
    return string.isdigit()
string="123456"
if contain_only_digits(string):
    print("string contain only digits")
else:
    print("string does not contain only digits")

string contain only digits

In [12]:
#39
def contains_only_alphabets(input_string):
    return input_string.isalpha()
input_string = "Hello"
if contains_only_alphabets(input_string):
    print("The string contains only alphabetic characters.")
else:
    print("The string does not contain only alphabetic characters.")

The string contains only alphabetic characters.

In [19]:
#40
input_string="Supriya Reddy yarrannagari 155"
new_list=list(input_string)
print(new_list)
print(type(new_list))

['S', 'u', 'p', 'r', 'i', 'y', 'a', ' ', 'R', 'e', 'd', 'd', 'y', ' ', 'y', 'a', 'r', 'r', 'a', 'n', 'n', 'a', 'g', 'a', 'r', 'i', ' ', '1', '5', '5']
<class 'list'>

In [23]:
#41
def are_anagrams(str1,str2):
    str1=str1.replace(" "," ").lower()
    str2=str2.replace(" "," ").lower()
    return sorted(str1)==sorted(str2)
string1="listen"
string2="silent"
if are_anagrams(string1,string2):
    print("these strings are anagrams")
else:
    print("these strings are not anagrams")

these strings are anagrams

In [32]:
#42
def caesar_cipher_encrypt(input_string, shift):
    encrypted_string = ""
    for char in input_string:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            char_code = ord(char) - ord('a')
            char_code = (char_code + shift) % 26
            char = chr(char_code + ord('a'))
            if is_upper:
                char = char.upper()

        encrypted_string += char

    return encrypted_string

input_string = "Hello, World!"
shift = 3
encrypted_string = caesar_cipher_encrypt(input_string, shift)
print("Original:", input_string)
print("Encrypted:", encrypted_string)

Original: Hello, World!
Encrypted: Khoor, Zruog!

In [10]:
#43
def caesar_cipher_decoded(text, shift):
    decoded_text = ""  
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
        decoded_text += decoded_char  
    return decoded_text

text = "lopp, zruog!"
shift = 3
decoded_text = caesar_cipher_decoded(text, shift)
print(decoded_text)

ilmm, world!

In [21]:
#44
from collections import Counter
import re
def most_frequent_word(input_string):
    words=re.findall(r'\b\w+\b',text.lower())
    word_count=Counter(words)
    most_common_word,most_common_count=word_count.most_common(1)[0]
    return most_common_word,most_common_count
text="this is a text, this text is very important,text is simple text."
most_common_word,most_common_count=most_frequent_word(text)
print(f"The most frequent word is '{most_common_word}' with a count of {most_common_count}.")

The most frequent word is 'text' with a count of 4.

In [24]:
#45-Find all unique words in a string.
import re
def unique_words(text):
    words=re.findall(r'\b\w+\b',text.lower())
    unique_word_set=set(words)
    return unique_word_set
text="this text is text,this is a text,not a text in simple."
unique_words_set=unique_words(text)
print("unique words in the text.")
for word in unique_words_set:
    print(word)

unique words in the text.
in
text
this
not
is
simple
a

In [34]:
#46- Count the number of syllables in a string.
import re
def count_syllables(word):
    vowel_groups=re.findall(r'[aeiouy]+',word,re.IGNORECASE)
    return len(vowel_groups)
word1="Hello"
word2="Supriya"
word3="Yarrannagari"
word4="syllables"
syllables1=count_syllables(word1)
syllables2=count_syllables(word2)
syllables3=count_syllables(word3)
syllables4=count_syllables(word4)
print(f"'{word1}' has {syllables1} syllables: ")
print(f"'{word2}' has {syllables2} syllables: ")
print(f"'{word3}' has {syllables3} syllables: ")
print(f"'{word4}' has {syllables4} syllables: ")

'Hello' has 2 syllables:
'Supriya' has 2 syllables:
'Yarrannagari' has 5 syllables:
'syllables' has 3 syllables:

In [36]:
#47-Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [37]:
#48-Remove the nth word from a string.
def remove_nth_string(input_string,n):
    words=input_string.split()
    if n>=1 and n<len(words):
        del words[n-1]
        result_string=' '.join(words)
        return result_string
    else:
        print("invalid value of n:")
input_string="This is the simple sentence, and  i want to remove the third word."
n=3
result=remove_nth_string(input_string,n)
print(result)

This is simple sentence, and i want to remove the third word.

In [41]:
#49-Insert a word at the nth position in a string.
def insert_word_at_nth_position(input_string, n, word_to_insert):
    words = input_string.split()

    if n >= 0 and n <= len(words):
       
        words.insert(n, word_to_insert)
        result_string = ' '.join(words)
        return result_string
    else:
        return "Invalid value of n"
input_string = "This is a sample sentence, and I want to insert a word."
n = 4
word_to_insert = "new"

result = insert_word_at_nth_position(input_string, n, word_to_insert)
print(result)

This is a sample new sentence, and I want to insert a word.

In [42]:
#50-Convert a CSV string to a list of lists.
csv_string = "John,Doe,30\nJane,Smith,25\nAlice,Johnson,35"
csv_lines = csv_string.strip().split('\n')
csv_data = [line.split(',') for line in csv_lines]
print(csv_data)

[['John', 'Doe', '30'], ['Jane', 'Smith', '25'], ['Alice', 'Johnson', '35']]

# list based practice problem

In [1]:
#1-Create a list with integers from 1 to 10.
list=[1,2,3,4,5,6,7,8,9,10]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
#2-Find the length of a list without using the `len()` function
def find_length_of_list(lst):
    count=0
    for i in lst:
        count+=1
    return count
lst= [1, 2, 3, 4, 5]
length = find_length_of_list(lst)
print("Length of the list:", length)

Length of the list: 5

In [ ]:
#3-Append an element to the end of a list.
list=["suppi",23,0.34]
list.append(4+5j)
print(list)

In [20]:
#4- Insert an element at a specific index in a list.
list=[12,0.34,'suppi']
list.insert(1,'pwskills')
print(list)

[12, 'pwskills', 0.34, 'suppi']

In [21]:
#5-Remove an element from a list by its value
list=[23,0.34,4+5j,"string",True]
list.remove(4+5j)
print(list)

[23, 0.34, 'string', True]

In [22]:
#6. Remove an element from a list by its index
list=[12,3.14,4+3j,"suppi",True]
list.pop(1)
print(list)

[12, (4+3j), 'suppi', True]

In [23]:
#7-Check if an element exists in a list.
list=[1,2,3,4,5,6]
exist_number=3
if exist_number in list:
    print("the number is existed in a list")
else:
    print("not existed")

the number is existed in a list

In [32]:
#8-Find the index of the first occurrence of an element in a list.
def find_first_occurrence(my_list, target):
    count = 0
    for item in my_list:
        if item == target:
            return count
        count += 1
    return -1

my_list = ["this", "is"," a", "list"]
target = "is"
new_list = find_first_occurrence(my_list, target)
print(f"the first occurrence of '{target_element}' is at index:{new_list}")

the first occurrence of 'is' is at index:1

In [37]:
#9-Count the occurrences of an element in a list.
def count_occurrence(my_list,target):
    count=0
    for item in my_list:
        if item==target:
            count+=1
    return count
my_list=[1,2,3,4,5,6,7,8]
target=2
new_list=count_occurrence(my_list,target)
print(f" the count occurrence of '{target}' is at index:{new_list}")

 the count occurrence of '2' is at index:1

In [38]:
#10-Reverse the order of elements in a list
list=[123,3.45,4+5j,"count",True]
result=list[::-1]
print(result)

[True, 'count', (4+5j), 3.45, 123]

In [43]:
#11-Sort a list in ascending order.
list=[1,2,3,4,5,6,7,8,9,0]
result=sorted(list)
print("sorted list in ascending order:",result)

sorted list in ascending order: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
#12-Sort a list in descending order
list=[1,2,3,4,5,6,7,8,9,0]
result=sorted(list,reverse=True)
print("sorted list in descending order:",result)

sorted list in descending order: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [48]:
#13-Create a list of even numbers from 1 to 20.
even_numbers=[x for x in range(2,21) if x%2==0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [49]:
#14-Create a list of odd numbers from 1 to 20.
odd_numbers=[x for x in range(2,21) if x%2!=0]
print(odd_numbers)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [1]:
#15 Find the sum of all elements in a list.
list= [1, 2, 3, 4, 5 ,6 ,7 ,8 ,9 ,10]
sum_of_elements=sum(list)
print("Sum of elements in the list:", sum_of_elements)

Sum of elements in the list: 55

In [2]:
#16-Find the maximum value in a list
list=[2,34,56,78,456]
result=max(list)
print(result)

456

In [3]:
#17- Find the minimum value in a list.
list=[0,34,2,13,5,78,-1,-4,-5]
result=min(list)
print(result)

-5

In [15]:
#18-Create a list of squares of numbers from 1 to 10.
squares=[x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
#19-Create a list of random numbers.
import random
random_numbers=[random.randint(1,100) for _ in range(10)]
print(random_numbers)

[11, 14, 79, 1, 32, 75, 65, 70, 57, 86]

In [19]:
#20- Remove duplicates from a list.
original_list=[1,2,3,4,4,5,6,3,4,8,9,2,5,3,4]

new_list=set(original_list)
print(new_list)
print(type(new_list))

{1, 2, 3, 4, 5, 6, 8, 9}
<class 'set'>

In [22]:
original_list = [1, 2, 2, 3, 4, 4, 5]
new_list = []
for item in original_list:
    if item not in new_list:
        new_list.append(item)

print(new_list)
print(type(new_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [26]:
#21-Find the common elements between two lists.
list1=[1,2,3,4,5,6,7,8]
list2=[2,3,4,7,8,9,1,0]
common_elements=[element for element in list1 if element in list2]
print(common_elements)

[1, 2, 3, 4, 7, 8]

In [3]:
list1 = [1,2,3,4,5,5,6,8,9,2]
list2 = [3,4,5,6,7,2,8,4,6,9]
set1 = set(list1)
set2 = set(list2)
common_elements = list(set1.intersection(set2))
print(common_elements)

[2, 3, 4, 5, 6, 8, 9]

In [8]:
#22- Find the difference between two lists.
list1=[1,2,3,4,5,6]
list2=[3,4,5,6,7,8,9]
differences=[element for element in list1 if not element in list2]
print(differences)

[1, 2]

In [9]:
#23-Merge two lists.
list1=[1,2,3,4,5]
list2=[6,7,8,9,3]
merged_list=list1+list2
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 3]

In [10]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,3]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 3]

In [14]:
#24-Multiply all elements in a list by 2.
list=[1,2,3,4,5]
new_list=[x*2 for x in my_list]
print(new_list)

[2, 4, 6, 8, 10]

In [16]:
#25-Filter out all even numbers from a list.
my_list=[1,2,3,4,5,6,7,8,9,10]
filtered_list=[x for x in my_list if x%2!=0]
print(filtered_list)

[2, 4, 6, 8, 10]

In [17]:
#Filter out all odd numbers from a list.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

filtered_list = [x for x in my_list if x % 2 == 0]

print(filtered_list)

[1, 3, 5, 7, 9]

In [18]:
#26-Convert a list of strings to a list of integers.
list_of_strings=["1","2","3","4","5","6"]
list_of_integers=[int(x) for x in list_of_strings]
print(list_of_integers)

[1, 2, 3, 4, 5, 6]

In [21]:
#27-Convert a list of integers to a list of strings.
list_of_integers=[1,2,3,4,5,6,7,8,9]
list_of_strings=[str(x) for x in list_of_integers]
print(list_of_strings)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [6]:
#28-Flatten a nested list
nested_list = [[1, 2, 3], [4, [5, 6]], [7, 8], 9]
flattened_list = [item for sublist in nested_list for item in (sublist if isinstance(sublist, list) else [sublist])]
print(flattened_list)

[1, 2, 3, 4, [5, 6], 7, 8, 9]

In [2]:
#29-Create a list of the first 10 Fibonacci numbers.
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
print("Fibonacci sequence:")
while count < nterms:
    print(n1)
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count += 1
print(count)

How many terms? 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
10

In [4]:
#30-Check if a list is sorted.
list=[4,3,6,8,1,9,2,5]
result=sorted(list)
print(result)

[1, 2, 3, 4, 5, 6, 8, 9]

In [6]:
#31-Rotate a list to the left by `n` positions.
def rotate_left(lst,n):
    if len(lst)==0:
        return left
    n=n%len(lst)
    return lst[n:]+lst[:n]
lst=[1,2,3,4,5,6,7]
n=2
rotate_lst=rotate_left(lst,n)
print(rotate_lst)

[3, 4, 5, 6, 7, 1, 2]

In [11]:
#32-Rotate a list to the right by `n` positions.
def rotate_right(lst, n):
    if len(lst) == 0:
        return lst
    n = n % len(lst)
    return lst[-n:] + lst[:-n]
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 7
rotate_lst = rotate_right(lst, n)
print(rotate_lst)

[3, 4, 5, 6, 7, 8, 9, 1, 2]

In [20]:
#33-Create a list of prime numbers up to 50.
for num in range(lower, upper + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
            else:
                print(num)

3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49

In [32]:
#34-Create a list of prime numbers up to 50. 
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
prime_list = [n for n in range(2, 51) if is_prime(n)]
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [54]:
#35-Split a list into chunks of size `n'.
def split_list(input_list, n):
    return [input_list[i:i + n] for i in range(0, len(input_list), n)]
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
chunks = split_list(my_list, chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
#36-Find the second largest number in a list.
def find_second_largest(numbers):
    if len(numbers) < 2:
        return "List should contain at least two numbers"
    sorted_numbers = sorted(numbers, reverse=True)
    return sorted_numbers[1]
numbers = [34,67,98,90,56,34,78]
result = find_second_largest(numbers)
print("The second largest number is:", result)

The second largest number is: 90

In [8]:
#37-Replace every element in a list with its square.
def square_elements(numbers):
    for i in range(len(numbers)):
        numbers[i]=numbers[i]**2
numbers=[2,3,4,5,6,7,8,9]
square_elements(numbers)
print(numbers)

[4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
#38-convert a list to a dictionary where list elements become keys and their indices become values.
my_list=["horse","tiger","giraffe","elephant","kangaroo","lion","cheetah"]
my_dict={value:index for index,value in enumerate(my_list)}
print(my_dict)

{'horse': 0, 'tiger': 1, 'giraffe': 2, 'elephant': 3, 'kangaroo': 4, 'lion': 5, 'cheetah': 6}

In [15]:
#39-Shuffle the elements of a list randomly.
import random
my_list=[4,7,8,3,7,9,4,6]
random.shuffle(my_list)
print(my_list)

[4, 7, 8, 6, 3, 4, 7, 9]

In [17]:
#39@1 -Create a list of the first 10 factorial numbers
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
first_10_factorial_numbers=[factorial(n) for n in range(1,11)]
print(first_10_factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [30]:
#40-Check if two lists have at least one element in common.
def have_common_elements(list1,list2):
    for item1 in list1:
        for item2 in list2:
            if item1==item2:
                return True
        return False
list1=[1,2,3,4,5]
list2=[1,2,6,4,5]
result=have_common_elements(list1,list2)
print(result)

True

In [40]:
#41-. Remove all elements from a list.
list=[1,2,3,4,5]
print(list)
list.append("tiger")
print(list)
list.insert(5,"lion")
print(list)
list.clear()
print(list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'tiger']
[1, 2, 3, 4, 5, 'lion', 'tiger']
[]

In [46]:
#42-Replace negative numbers in a list with 0.
def replace_negative_with_zero(numbers):
    for i in range(len(numbers)):
        if numbers[i]<0:
            numbers[i]=0
list=[2,-4,7,6,-8,-1]
replace_negative_with_zero(list)
print(list)

[2, 0, 7, 6, 0, 0]

In [48]:
#43-Convert a string into a list of words.
string="pwskills is good at data science."
my_list=string.split()
print(my_list)

['pwskills', 'is', 'good', 'at', 'data', 'science.']

In [51]:
#44-Convert a list of words into a string.
my_list=["hello","I", "am","good","at","python","and","data","science","."]
my_string=' ' .join(my_list)
print(my_string)

hello I am good at python and data science .

In [54]:
#45-Create a list of the first `n` powers of 2.
n=int(input("enter the number:"))
power_of_2=[2** i for i in range(n)]
print(power_of_2)

enter the number:5
[1, 2, 4, 8, 16]

In [56]:
#46-Find the longest string in a list of strings.
list_of_strings=["tiger","elephant","environment","zebra","united states of america","london"]
result=max(list_of_strings,key=len)
print(result)

united states of america

In [57]:
#47-Find the shortest string in a list of strings.
list_of_strings=["tiger","elephant","environment","zebra","united states of america","london"]
result=min(list_of_strings,key=len)
print(result)

tiger

In [64]:
#48-Create a list of the first `n` triangular numbers.
n=int(input("enter a number:"))
triangular_numbers=[]
for i in range(1,n+1):
    tn=i*(i+1)//2
    triangular_numbers.append(tn)
print(triangular_numbers)

enter a number:5
[1, 3, 6, 10, 15]

In [69]:
#49-Check if a list contains another list as a subsequence.
def is_subsequence(sublist,mainlist):
    i=0
    j=0
    while i<len(mainlist) and j<len(sublist):
        if mainlist[i]==sublist[j]:
            j+=1
        i+=1
    return j==len(sublist)
mainlist=[1,2,3,4,5,6]
sublist=[1,4,6]
result=is_subsequence(sublist,mainlist)
print(result)

True

In [72]:
#50-Swap two elements in a list by their indices.
def swap_of_elements_by_indices(my_list,index1,index2):
    if 0<=index1<len(my_list) and 0<=index2<len(my_list):
        my_list[index1],my_list[index2]==my_list[index2],my_list[index1]
        return True
    else:
        return False
my_list=[1,2,3,4,5,6]
index1=2
index2=5
result=swap_of_elements_by_indices(my_list,index1,index2)
if result:
    print("after swapping:",my_list)
else:
    print("invalid indices,no swapping required.")

after swapping: [1, 2, 3, 4, 5, 6]

# Tuple Based Practice Problems

In [73]:
#1-Create a tuple with integers from 1 to 5.
tuple=(1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

In [76]:
#2-Access the third element of a tuple.
my_tuple=(1,2,3,4,5)
third_element=my_tuple[2]
print("the third_element of a tuple is:",third_element)

the third_element of a tuple is: 3

In [12]:
#3-Find the length of a tuple without using the `len()` function.
my_tuple=(1,2,3,4,5,6,7,8)
length=0
for element in my_tuple:
    length+=1
print("length without using the len() function is:",length)

length without using the len() function is: 8

In [10]:
#4-Count the occurrences of an element in a tuple
my_tuple=(1,2,2,3,2,2,4,6,8,9,7,5,2,3,2,2)
count_of_2=my_tuple.count(2)
print(count_of_2)

7

In [15]:
#5-Find the index of the first occurrence of an element in a tuple.
my_tuple=(4,5,6,7,8,9,2,3,5,4)
index_of_5=my_tuple.index(9)
print(index_of_5)s

5

In [23]:
#6-Check if an element exists in a tuple.
my_tuple=(13,4,5,6,7,8,9)
element=5
if element in my_tuple:
    print("the element exits in a tuple.")
else:
    print("the element does not exits in a tuple.")

the element exits in a tuple.

In [26]:
my_tuple=(13,4,5,6,7,8,9)
element=10
if element in my_tuple:
    print(f"the element exits in a tuple.")
else:
    print(f"the element does not exits in a tuple.")

the element does not exits in a tuple.

In [27]:
#7-Convert a tuple to a list.
my_tuple=(4,5,6,7,8,9)
my_list=list(my_tuple)
print(my_tuple)
print(my_list)

(4, 5, 6, 7, 8, 9)
[4, 5, 6, 7, 8, 9]

In [33]:
#8-Convert a list to a tuple.
my_list=["tiger","lion","horse","deer","panda"]
my_tuple=tuple(my_list)
print(my_list)
print(my_tuple)

['tiger', 'lion', 'horse', 'deer', 'panda']
('tiger', 'lion', 'horse', 'deer', 'panda')

In [46]:
#9- Unpack the elements of a tuple into variables.
my_tuple=(1,2,3,4,5)
a,b,c,d,e=my_tuple
print("a:",1)
print("b:",2)
print("c:",3)
print("d:",4)
print("e:",5)

a: 1
b: 2
c: 3
d: 4
e: 5

In [51]:
#10-Create a tuple of even numbers from 1 to 10.
even_numbers=tuple( x for x in range(2,12,2))
print(even_numbers)

(2, 4, 6, 8, 10)

In [56]:
#11-Create a tuple of odd numbers from 1 to 10.
odd_numbers=tuple(x for x in range(1,10,2))
print(odd_numbers)

(1, 3, 5, 7, 9)

In [58]:
#12-Concatenate two tuples.
tuple1=(1,2,3,4,5)
tuple2=(6,7,8,9,10)
result=tuple1+tuple2
print(result)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [59]:
#13-Repeat a tuple three times.
tuple1=(2,3,4,5,6)
result=3*tuple1
print(result)

(2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6)

In [60]:
#14-Check if a tuple is empty.
my_tuple=()
if not my_tuple:
    print("tuple is empty.")
else:
    print("tuple is not empty.")

tuple is empty.

In [61]:
#15-Create a nested tuple.
nested_tuple=((1,2,3),(4,5,6),(7,8,9))
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [62]:
#16-Access the first element of a nested tuple.
nested_tuple=((1,2,3),(4,5,6),(7,8,9))
first_element=nested_tuple[0][0]
print("first element of a nested tuple is:",first_element)

first element of a nested tuple is: 1

In [64]:
#17-Create a tuple with a single element.
my_tuple=(1,)
print(my_tuple)
print(type(my_tuple))

(1,)
<class 'tuple'>

In [68]:
#18-Compare two tuples.
tuple1=(1,2,3,4)
tuple2=(4,5,6,7)
if tuple1==tuple2:
    print("both are equal.")
else:
    print("both are not equal.")
if tuple1<tuple2:
    print("tuple1 is less tha the tuple2.")
else:
    print("tuple1 is not less than the tuple2.")
if tuple1>tuple2:
    print("tuple1 is greater than the tuple2.")
else:
    print("tuple1 not greater than the tuple2.")

both are not equal.
tuple1 is less tha the tuple2.
tuple1 not greater than the tuple2.

In [14]:
#19-Delete a tuple
my_tuple = (1, 2, 3, 4, 5)
del my_tuple

In [11]:
#20-Slice a tuple
my_tuple=(1,2,3,4,5,6)
result=my_tuple[2:5]
print(result)

(3, 4, 5)

In [15]:
#21-Find the maximum value in a tuple.
my_tuple=(45,67,89,90,34,45,25)
result=max(my_tuple)
print(result)

90

In [16]:
#22-Find the minimum value in a tuple.
my_tuple=(45,67,89,90,34,45,25)
result=min(my_tuple)
print(result)

25

In [19]:
#23-Convert a string to a tuple of characters.
my_string="supriya yarrannagari"
my_tuple=tuple(my_string)
print(my_tuple)
print(type(my_tuple))

('s', 'u', 'p', 'r', 'i', 'y', 'a', ' ', 'y', 'a', 'r', 'r', 'a', 'n', 'n', 'a', 'g', 'a', 'r', 'i')
<class 'tuple'>

In [25]:
#24-Convert a tuple of characters to a string.
my_tuple=("hello", "good","morning","to","everyone")
my_string=' '.join(my_tuple)
print(my_string)

hello good morning to everyone

In [26]:
#25-Create a tuple from multiple data types.
my_tuple=(1,3.14,"hello",True)
print(my_tuple)

(1, 3.14, 'hello', True)

In [28]:
#26-Check if two tuples are identical
tuple1=(1,2,3,4)
tuple2=(5,6,7,8)
if tuple1==tuple2:
    print("tuples are identical.")
else:
    print(" tuples are not identical.")
print(id(tuple1))
print(id(tuple2))

 tuples are not identical.
1759611123360
1759611120880

In [36]:
#27- Sort the elements of a tuple.
tuple1=(5,3,7,9,2,8,1,6)
sorted_tuple=tuple(sorted(tuple1))
print(tuple1)
print(sorted_tuple)

(5, 3, 7, 9, 2, 8, 1, 6)
(1, 2, 3, 5, 6, 7, 8, 9)

In [49]:
#28-Convert a tuple of integers to a tuple of strings.
tuple_of_integers=(1,2,3,4,5)
tuple_of_strings=tuple(str(x) for x in tuple_of_integers)
print(tuple_of_integers)
print(tuple_of_strings)

(1, 2, 3, 4, 5)
('1', '2', '3', '4', '5')

In [48]:
#29-Convert a tuple of strings to a tuple of integers.
tuple_of_strings=('1','2','3','4','5','6')
tuple_of_integers=tuple(int(x) for x in tuple_of_strings)
print(tuple_of_strings)
print(tuple_of_integers)

('1', '2', '3', '4', '5', '6')
(1, 2, 3, 4, 5, 6)

In [52]:
#30-Merge two tuples.
tuple1=(1,2,3,4)
tuple2=(5,6,7,8)
print(tuple1)
print(tuple2)
merged_tuple=tuple1+tuple2
print("merged tuple:",merged_tuple)

(1, 2, 3, 4)
(5, 6, 7, 8)
merged tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [55]:
#31-Flatten a nested tuple
def flattened_tuple(nested_tuple):
    flat_list=[]
    for item in nested_tuple:
        if isinstance (item,tuple):
            flat_list.extend(flattened_tuple(item))
        else:
            flat_list.append(item)
    return tuple(flat_list)
nested_tuple=(1,(2,3),4,(5,6),7)
result=flattened_tuple(nested_tuple)
print(nested_tuple)
print(result)

(1, (2, 3), 4, (5, 6), 7)
(1, 2, 3, 4, 5, 6, 7)

In [56]:
#32-Create a tuple of the first 5 prime numbers.
prime_numbers=(2,3,5,7,11)
print(prime_numbers)

(2, 3, 5, 7, 11)

In [64]:
#33-Check if a tuple is a palindrome.
tuple1=(1,2,3,4,5,6)
tuple2=tuple1[::-1]
if tuple1==tuple2:
    print("tuple is a palindrome")
else:
    print("tuple is not a palindrome")
print(tuple1)
print(tuple2)

tuple is not a palindrome
(1, 2, 3, 4, 5, 6)
(6, 5, 4, 3, 2, 1)

In [71]:
#34-Create a tuple of squares of numbers from 1 to 5.
tuple1=(1,2,3,4,5)
squares_numbers=[i**2  for i in range(1,6)]
print(squares_numbers)

[1, 4, 9, 16, 25]

In [79]:
#35-Filter out all even numbers from a tuple.
my_tuple=(1,2,3,4,5,6,7,8,9,10)
for i in range(0,10):
    if i%2==0:
        i+=1
        print(i)

1
3
5
7
9

In [86]:
#36-Multiply all elements in a tuple by 2.
tuple1=(1,2,3,4,5,6,7,8,9,10)
multiply_element=[x*2 for x in tuple1]
multiply_elements=[x*2 for x in range(0,11)]
print(multiply_element)
print(multiply_elements)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [92]:
#37-Create a tuple of random numbers.
import random
random.numbers=tuple(random.randint(1,1000) for i in range(10))
print(random.numbers)

(961, 900, 47, 289, 691, 478, 240, 99, 388, 705)

In [96]:
#38-Check if a tuple is sorted.
tuple1=(4,5,3,8,9,2,0,34,56,12)
sorted_tuple=sorted(tuple1)
print(sorted_tuple)
if sorted_tuple:
    print("True")
else:
    print("False")

[0, 2, 3, 4, 5, 8, 9, 12, 34, 56]
True

In [98]:
#39-Rotate a tuple to the left by `n` positions.
def rotate_left_tuple(my_tuple,n):
    length=len(my_tuple)
    n=n%length
    return my_tuple[n:]+my_tuple[:n]
my_tuple=(4,5,6,7,8,9)
n=2
rotated_tuple=rotate_left_tuple(my_tuple,n)
print(rotated_tuple)

(6, 7, 8, 9, 4, 5)

In [99]:
#40-Rotate a tuple to the right by `n` position.
def rotate_right_tuple(my_tuple,n):
    length=len(my_tuple)
    n=n%length
    return my_tuple[-n:]+my_tuple[:-n]
my_tuple=(2,-4,6,-6,7,-9,8,-10,23,-88)
n=3
rotated_tuple=rotate_right_tuple(my_tuple,n)
print(rotated_tuple)

(-10, 23, -88, 2, -4, 6, -6, 7, -9, 8)

In [105]:
#41-Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci_numbers(n):
    fibonacci_sequence=[0,1]
    while len(fibonacci_sequence) < n:
        next_number=fibonacci_sequence[-1]+fibonacci_sequence[-2]
        fibonacci_sequence.append(next_number)
    return tuple(fibonacci_sequence) 
first_5_fibonacci=generate_fibonacci_numbers(5)
print(first_5_fibonacci)

(0, 1, 1, 2, 3)

In [117]:
#42-Create a tuple from user input.
user_input=input("enter the numbers of tuples:")
input_list=[element.strip() for element in user_input.split(',')]
user_tuple=tuple(input_list)
print("user_input as a tuple:",user_tuple)

enter the numbers of tuples:1 2 3 4 5
user_input as a tuple: ('1 2 3 4 5',)

In [124]:
#43-Swap two elements in a tuple.
my_tuple=(1,2,3,4,5)
my_list=list(my_tuple)
my_list[1],my_list[3]=my_list[3],my_list[1]
swapped_tuple=tuple(my_list)
print("original tuple:",my_tuple)
print("swapped tuple:",swapped_tuple)

original tuple: (1, 2, 3, 4, 5)
swapped tuple: (1, 4, 3, 2, 5)

In [127]:
#44-Reverse the elements of a tuple.
my_tuple=(1,2,3,4,5)
reversed_tuple=my_tuple[::-1]
print(my_tuple)
print(reversed_tuple)

(1, 2, 3, 4, 5)
(5, 4, 3, 2, 1)

In [129]:
#45-Create a tuple of the first `n` powers of 2.
n=5 
power_of_2=[2**i for i in range(n)]
print(power_of_2)

[1, 2, 4, 8, 16]

In [134]:
#46-Find the longest string in a tuple of strings.
string_tuple=('one','two','three','four','five','six')
longest_string=''
max_length=0
for string in string_tuple:
    if len(string)>max_length:
        max_length=len(string)
        longest_string=string
print("longest string:",longest_string)

longest string: three

In [142]:
#47-Find the shortest string in a tuple of strings.
string_tuple=('orange','green','question','jai')
shortest_string=''
min_length=float("inf")
for string in string_tuple:
    if len(string)< min_length:
        min_length=len(string)
        shortest_string=string
print("shortest string:",shortest_string)

shortest string: jai

In [143]:
#48-Create a tuple of the first `n` triangular numbers.
n=5
triangular_numbers=tuple(i*(i+1)//2 for i in range(1,n+1))
print(triangular_numbers)

(1, 3, 6, 10, 15)

In [146]:
#49-Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main_tuple,subsequence):
    sub_len=len(subsequence)
    for i in range(len(main_tuple)-sub_len+1):
        if main_tuple[i:i+sub_len]==subsequence:
            return True
    return False
main_tuple=(1,2,3,4,5,6,7,8,9)
subsequence1=(2,3,4)
subsequence2=(5,6,8)
print("main tuple:",main_tuple)
print("contains subsequence 1:",contains_subsequence(main_tuple,subsequence1))
print("contains subsequence 2:",contains_subsequence(main_tuple,subsequence2))

main tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)
contains subsequence 1: True
contains subsequence 2: False

In [149]:
#50- Create a tuple of alternating 1s and 0s of length `n.
n=10
alternating_tuple=tuple(1 if i%2==0 else 0 for i in range(n))
print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# set based practice problems

In [153]:
#1-Create a set with integers from 1 to 5.
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [154]:
#2-Add an element to a set.
set={1,2,3,4,5,6}
set.add(7)
print(set)

{1, 2, 3, 4, 5, 6, 7}

In [156]:
#3-Remove an element from a set.
set={10,20,30,40,50,60,70,80,90}
print(set)
set.remove(60)
print(set)

{70, 40, 10, 80, 50, 20, 90, 60, 30}
{70, 40, 10, 80, 50, 20, 90, 30}

In [160]:
#4-Check if an element exists in a set.
set={11,22,33,44,55,66,88}
element=33
if element in set:
    print("element exists in a set.")
else:
    print("element not exits in a set.")

element exists in a set.

In [161]:
#5-Find the length of a set without using the `len()` function.
set={10,20,30,40,50}
count=0
for x in set:
    count+=1
print("length of the set:",count)

length of the set: 5

In [162]:
#6- Clear all elements from a set.
my_set={10,20,30,40,50,60,70,80,90}
print(my_set)
my_set.clear()
print(my_set)

{70, 40, 10, 80, 50, 20, 90, 60, 30}
set()

In [176]:
#7-Create a set of even numbers from 1 to 10.
even_numbers=[ x for x in range(1,11)if x%2==0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [177]:
#8- Create a set of odd numbers from 1 to 10.
odd_numbers=[x for x in range(1,11) if x%2!=0]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [179]:
#9-Find the union of two sets.
set1={1,2,3,4,5}
set2={5,6,7,8,9}
result=set1.union(set2)
print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [181]:
#10- Find the intersection of two sets.
set1={1,2,3,4,5}
set2={1,3,5,7,9}
result=set1.intersection(set2)
print(result)

{1, 3, 5}

In [183]:
#11-Find the difference between two sets
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
result=set1.difference(set2)
result1=set2.difference(set1)
print(result)
print(result1)

{1, 2, 3}
{8, 9, 7}

In [185]:
#12-Check if a set is a subset of another set.
set1={4,5,6}
set2={1,2,3,4,5,6}
is_subset_result1=set1.issubset(set2)
is_subset_result2=set1<=set2
print(is_subset_result1)
print(is_subset_result2)

True
False

In [190]:
#13-Check if a set is a superset of another set.
set1={1,2,3,4,5}
set2={1,2,3}
is_superset_result1=set1.issuperset(set2)
is_superset_result2=set1>=set2
print(is_superset_result1)
print(is_superset_result2)

True
True

In [1]:
#14-Create a set from a list.
my_list=[10,20,30,40,50,60]
my_set=set(my_list)
print(my_list)
print(my_set)

[10, 20, 30, 40, 50, 60]
{40, 10, 50, 20, 60, 30}

In [2]:
#15-Convert a set to a list
set={1,2,3,4,5,6}
list=list(set)
print(set)s
print(list)

{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5, 6]

In [4]:
#16-Remove a random element from a set.
my_set={1,2,3,4,5,6,7,8,9}
removed_elements=my_set.pop()
print("original set:",my_set)
print("removed_set:",removed_elements)

original set: {2, 3, 4, 5, 6, 7, 8, 9}
removed_set: 1

In [9]:
#17- Pop an element from a set.
set={2,3,4,5,6,7,8,9}
result=set.pop()
print("popped element is:",result)

popped element is: 2

In [12]:
#18-Check if two sets have no elements in common.
set1={1,2,3}
set2={4,5,6}
are_disjoint1=set1.isdisjoint(set2)
print(are_disjoint1)

True

In [17]:
#19-Find the symmetric difference between two sets
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
result=set1.symmetric_difference(set2)
print(result)

{1, 2, 3, 7, 8, 9}

In [24]:
#20- Update a set with elements from another set.
set1={1,2,3,4,5}
set2={5,6,7,8,9}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
#21-Create a set of the first 5 prime numbers.
first_prime_numbers={2,3,5,7,11}
print(first_prime_numbers)

{2, 3, 5, 7, 11}

In [33]:
#22-Check if two sets are identical.
set1={1,2,3,4}
set2={4,5,6,7}
if set1==set2:
    print("these sets are identical,")
else:
    print("these seta are not identical.")

these seta are not identical.

In [35]:
set1={1,2,3,4}
set2={4,3,2,1}
if set1==set2:
    print("these sets are identical.")
else:
    print("these seta are not identical.")

these sets are identical.

In [38]:
#23-Create a frozen set.
set={1,2,3,4,5,6,7,8}
result=frozenset(set)
print(result)

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [43]:
#24-Check if a set is disjoint with another set.
set1={6,7,8,9,10}
set2={1,2,3,4,5}
are_disjoint1=set1.isdisjoint(set2)
are_disjoint2=len(set1.intersection(set2))==0
print(are_disjoint1)
print(are_disjoint2)

True
True

In [45]:
#25-Create a set of squares of numbers from 1 to 5
set={1,2,3,4,5}
squares_numbers=[x**2 for x in range(5)]
print(squares_numbers)

[0, 1, 4, 9, 16]

In [51]:
#26-Filter out all even numbers from a set.
set={1,2,3,4,5,6,7,8,9,10}
even_numbers=[x for x in set if x%2!=0]
print(even_numbers)

[1, 3, 5, 7, 9]

In [57]:
#27-Multiply all elements in a set by 2.
set={1,2,3,4,5}
new_set={x*2 for x in set}
print(new_set)

{2, 4, 6, 8, 10}

In [1]:
#28-Create a set of random numbers.
import random
random_number_set = set()
for _ in range(10): 
    random_number = random.randint(1, 100) 
    random_number_set.add(random_number)
print(random_number_set)

{1, 2, 43, 15, 79, 87, 24, 90, 92, 63}

In [2]:
#29-Check if a set is empty.
empty_set=set()
if not empty_set:
    print("the set is empty")
else:
    print("the set is not empty")

the set is empty

In [8]:
#30-Create a nested set
nested_structure = {
    'set1': {1, 2, 3},
    'set2': {4, 5, 6}
}

print("Nested set 1:", nested_structure['set1'])
print("Nested set 2:", nested_structure['set2'])

Nested set 1: {1, 2, 3}
Nested set 2: {4, 5, 6}

In [12]:
#31-Remove an element from a set using the discard method
set={1,2,3,4,5,6,7,8,9}
set.discard(4)
print(set)

{1, 2, 3, 5, 6, 7, 8, 9}

In [13]:
#32-Compare two sets.
set1={10,20,30,40}
set2={20,30,40,50}
are_equal=set1==set2
print("are the sets equal:",are_equal)

are the sets equal: False

In [1]:
#33-Create a set from a string.
input_string = "hello, world"
my_set = set(input_string)
print(my_set)

{'o', 'e', ',', 'h', 'w', 'l', 'd', ' ', 'r'}

In [7]:
#34-Convert a set of strings to a set of integers.
set_of_strings=("1","2","3","4","5","6")
set_of_integers={int(element) for element in set_of_strings}
print(set_of_integers)

{1, 2, 3, 4, 5, 6}

In [8]:
#35-Convert a set of integers to a set of strings.
int_set={1,2,3,4,5,6,7,8,9}
string_set={str(element) for element in int_set}
print(int_set)
print(string_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'9', '8', '6', '1', '3', '4', '7', '5', '2'}

In [9]:
#36-Create a set from a tuple.
my_tuple=[10,20,30,40,50]
my_set=set(my_tuple)
print(my_tuple)
print(my_set)

[10, 20, 30, 40, 50]
{40, 10, 50, 20, 30}

In [10]:
#37- Convert a set to a tuple.
my_set={1,2,3,4,5,6,7,8,9}
my_tuple=tuple(my_set)
print(my_set)
print(my_tuple)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [11]:
#38-Find the maximum value in a set.
my_set={10,20,30,40,50,60,70,80,90,100}
print(max(my_set))

100

In [12]:
#39-Find the minimum value in a set.
my_set={1,2,3,4,5,6,7,8,9,10}
print(min(my_set))

1

In [14]:
#40-Create a set from user input.
user_input=input("enter elements separated by comma:")
elements=[element.strip() for element in user_input.split(',')]
user_set=set(elements)
print("user_set:",user_set)

enter elements separated by comma:1 2 3
user_set: {'1 2 3'}

In [16]:
#41-Check if the intersection of two sets is empty.
set1={1,2,3}
set2={4,5,6}
intersection_empty=set1.isdisjoint(set2)
print("intersection empty:",intersection_empty)

intersection empty: True

In [25]:
#42-Create a set of the first 5 Fibonacci numbers.
fibonacci_set = set()
a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print(fibonacci_set)

{0, 1, 2, 3, 5}

In [27]:
#43-Remove duplicates from a list using sets.
my_lst=[2,3,4,5,6,7,8,9,2,4,6,8,3,1,10,11,23]
my_set=(set(my_lst))
print(my_lst)
print(my_set)

[2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 3, 1, 10, 11, 23]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 23}

In [30]:
#44-Check if two sets have the same elements, regardless of their count.
set1={1,2,3,4,5,6,7,8}
set2={1,2,3,4,5,9}
result=set1==set2
print(result)

False

In [33]:
#45-Create a set of the first `n` powers of 2.
n=5
powers_of_2=[2**x for x in range(n)]
print(set(powers_of_2))

{1, 2, 4, 8, 16}

In [37]:
#46-Find the common elements between a set and a list.
my_set={1,2,3,4,5,6}
my_list=[2,3,1,7,8,9]
common_elements=my_set.intersection(my_list)
print("common elements:",common_elements)

common elements: {1, 2, 3}

In [45]:
#47-Create a set of the first `n` triangular numbers
n = 5
triangular_numbers_set = set()
for i in range(1, n + 1):
    triangular_number = (i * (i + 1)) // 2
    triangular_numbers_set.add(triangular_number)
print(triangular_numbers_set)

{1, 3, 6, 10, 15}

In [46]:
#48-Check if a set contains another set as a subset.
set1={1,2,3,4,5}
set2={3,4,5,6,7}
result=set1.issubset(set2)
print(result)

False

In [47]:
#49-Create a set of alternating 1s and 0s of length `n`.
n=10
alternative_set=set()
for i in range(n):
    alternative_set.add(i%2)
print(alternative_set)

{0, 1}

In [49]:
#50-Merge multiple sets into one
set1={1,2,3}
set2={4,5,6}
set3={7,8,9}
set4={2,3,4}
merged_set=set1.union(set2,set3,set4)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}